@mixin carousel {

    .carousel-flex{
        display: flex;
        flex-direction: row;
        justify-content:left;
    }

    .btn-stream{
        color: $darkgrey;
        background-color: $whiter;
        width: 140px;
        border-radius: 20px;
        border: none;
        // height: 50px;
        // padding: 12px 22px;
        // font-size: 14px;
        // font-weight: 400;
    }
    .stream{
        font-weight: 600;
        padding: 0 5px 0 0;
    }
    .spanDot{
        margin: 0 3px;
    }
    .pText{
        font-size: 20px;
        line-height: 1.21053;
        letter-spacing: 0em;
        margin-left: 40px;
        padding-top: 5px;
    }
    .cbtn{
        opacity: 0.1;
        // display: hidden;
    }
    .w-100{
        width: 95% !important;
    }
}