@mixin carousel {

    #carouselPart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .crSlide{
        position: relative;
        width: 80% !important;
    }

    .carousel-flex{
        display: flex;
        flex-direction: row;
        justify-content:left;
        align-items: center;
        // align-content: center;
        flex-wrap: wrap;
    }

    .btn-stream{
        color: $darkgrey;
        background-color: $whiter;
        width: 140px;
        border-radius: 20px;
        border: none;
    }
    .stream{
        font-weight: 600;
        padding: 0 5px 0 0;
    }
    .spanDot{
        margin: 0 3px;
    }
    .pText{
        font-size: 20px;
        line-height: 1.21053;
        letter-spacing: 0em;
        margin-left: 80px;
        padding-top: 5px;
    }
    .cbtn{
        opacity: 0;
        // display: hidden;
    }

     @media (max-width:768px) {
        .carousel-flex{
            display: flex;
            flex-direction: column-reverse;
            justify-content:center;
            align-items: center;
            // align-content: center;
            flex-wrap: wrap;
        }
        .pText{
            font-size: 14px;
            margin-bottom: 1rem;
            padding-top: 5px;
        }
        .cbtn{
            opacity: 1;
        }
    }

     @media (max-width:480px) {
        .carousel-flex{
            display: flex;
            flex-direction: column-reverse;
            justify-content:center;
            align-items: center;
            // align-content: center;
            flex-wrap: wrap;
        }
        .pText{
            font-size: 12px;
            margin: 0 1rem 4rem 3rem;
            padding-top: 5px;
        }
    }

   
   
//     @media (min-width:769px) {

    
// }

}

// and (max-width:480px)


  // .crslBtn{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;

    //     position: relative;
    //     bottom: -600px;
    // }
    
    // .pauseBtn{
    //     margin-left: 80px;
    //     position: absolute;
    //     right: 100px;
    // }
    // #pauseBtn{
    //     background: none;
    //     border-radius: 50%;
    // }