@mixin footer {
    //    ALLT DU SKRIVER SKA VA INNANGÖR DEN HÄR MIXINEN.
    font-size: 18PX;
    }

    // div {
    //     border: 3px solid red;
    // }

    ul {
        padding-inline-start: 0px !important;
    }


    //h4 RUBRIKER
    #category-header {
        font-size: 14px;
        color: black;
        padding-top: 1.5rem;
    }

    //TOP FOOTER
    .main-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 370px 0px 370px;
    }

    .main-footer a {
        text-decoration: none;
        color: #5a5a5ddd;
        font-size: 14px;
    }

    .main-footer li {
        list-style-type: none;

    }

    .main-footer a:hover {
       text-decoration: underline;
       color: #5a5a5ddd;
    }

    // MIDDLE-FOOTER

    .middle-footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 50px 370px 0px 370px;
    }

    #footer-text {
        font-size: 14px;
        margin: 0px !important;
        color: #5a5a5ddd;
    }

    #links {
        font-size: 14px;
        text-decoration: none;
        margin: 0rem 0.5rem 0rem 0.5rem;
    }

    #links:hover {
        text-decoration: underline;
    }

    // END FOOTER 

    .end-footer-first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 370px 0px 370px;
    }

    .end-footer-second {
        display: flex;
        flex-direction: row;
        margin: 0px 370px 0px 370px;
    }

    .end-footer-second a {
        text-decoration: none;
        color: #5a5a5ddd;
        font-size: 14px;
        margin-right: 10px;
    }

    .end-footer-second a:hover {
        text-decoration: underline;
        color: #5a5a5ddd;
    }

    .border-footer {
      
        margin: 10px 370px 10px 370px;
    }