@mixin header {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 position: relative;
.navbar {
    height:48px;
    background: #323233;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    ul { 
        padding:0 0.8rem;
        margin-left: -10px;
    li{ 
    display:inline-block;
    list-style: none;
    padding: 0 0.8rem;
    a{
    display:block;
    text-decoration: none;
    color: #d3d3d4;
    transition: .3s ease-in-out;
    font-size: 12px;
    line-height: 2.8;
    font-weight: 300;
    letter-spacing: .07em;
    padding: 0 8px;
    opacity: 0.95;
    &:hover{
        color:white;
    }
    

.logo {
    margin-top: -5px;
    opacity: 0.9;
    width: 15px;
    height: 18px;
}
.fa-search{
 transform: scale(1.3);
}
.fa-shopping-bag {
    transform: scale(1.3);
}
}
}
}
}
}