@import "partials/variables";
@import "partials/fonts";
@import "partials/mixins";
@import "partials/header";
@import "partials/footer";
@import "partials/top";
@import "partials/carousel";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

body {
      max-width: 2600px;
    margin: auto;
}
}

header {
    @include header;
}

#top {
    @include top;
}

#carousel {
    @include carousel;
}





footer {
    @include footer;
}


